@font-face {
  font-family: 'Sequel 100 Wide';
  src: url('/fonts/Sequel100Wide-55.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sequel 100 Wide';
  src: url('/fonts/Sequel100Wide-65.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sequel Sans';
  src: url('/fonts/SequelSans-LightBody.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sequel Sans';
  src: url('/fonts/SequelSans-BookBody.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sequel Sans';
  src: url('/fonts/SequelSans-BoldBody.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
